:root{
    /* #d89c3b */
    --primary:#d89c3b;
    --secondary:#181d27;
    --lightText:#ccc;
    --terinary:#1e2030;
    --textcolor:white;
    --resBor:rgba(204, 204, 204,0.2);
}

.light{
    --secondary:rgba(234, 221, 221, 0.78);
    --textcolor:#181d27;
    --lightText:#010101;
    --primary:#f89900;
    --primary:#ff8800;
    --terinary:whitesmoke;
    --resBor:rgba(204, 204, 204, 0.85);
}
html {
    scroll-behavior: smooth;
  }
body{
    background: var(--secondary);
    font-family: 'Unna';
    margin: 0px;
}
.up{
    height: 80px;
    width: 80px;
    position: fixed;
    right:30px;
    bottom: 30px;
}
.up img{
    width: 100%;
    height: 100%;
}
.section1{
    height: 99vh;
}
.logo{
    padding: 0px;
    margin-top:10px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px ;
    color: var(--primary);
    font-family: "Secular One";
}
.navBar .ham{
    display: grid;
    place-items: center;
    cursor: pointer;
    display: none;
    padding-bottom: 10px;
}
.menus ul{
    padding: 0px;
}
.menus ul li{
    list-style: none;
    display: inline;
    margin-right:20px ;
    font-size: 16px;
    cursor:pointer;
}
.menus ul li a{
    text-decoration: none;
    color: var(--primary);
}
.homeSlide{
    display: flex;
    justify-content: center;
    color: var(--textcolor);
    gap: 20px;   
}
.homeSlide .hello {
    text-transform: uppercase;
    color: var(--primary);
    position: relative;
    padding-left: 50px;
    letter-spacing: 2px;
}
.homeSlide .left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;
}
.homeSlide .hello::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background:var(--primary);
  left: 0;
  top: 50%;
  position: absolute;
}
.homeSlide .im{
  font-size: 35px;
  font-family: "Secular One";
  letter-spacing: 2px;
}
.highlight{
  color: var(--primary);
}
.homeSlide .discription{
  font-size: 16px;
  color: var(--lightText);
  width:400px;
  line-height: 26px;
  margin-bottom: 50px;
}
.custom-btn{
  padding: 10px 50px;
  background: var(--primary);
  text-transform: uppercase;
  cursor: pointer;
}
.homeSlide .profile{
  height: 500px;
}
.toggle{
    display: grid;
    place-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--lightText);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:var(--primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@keyframes growinout{
  0%{
      font-size: 1.2vw;
  }
  50%{
      font-size: 2vw;
  }
}
.about{
    background: var(--terinary);
    display: grid;
    justify-content: center;
    place-items: center;
    padding: 40px;
}
.about .container{
  /* padding: 30px 250px; */
  display: flex;
  color: var(--textcolor);
  gap: 50px;
  width: 800px;
}

.about .container .highlight{
    margin:0px;
}
.about .container .heading{
    font-family: "Secular One";
    letter-spacing: 2px;
    font-size: 22px;
    padding-bottom:5px ;
}
.about .container .heading::after{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: var(--primary);

}
.about .container .discription{
    color: var(--lightText) !important;
}

.about .container img{
    height: 350px;
}

.about .container .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.about .cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about .cards .card{
    color:var(--textcolor);
    text-align: center;
    background: var(--secondary);
    margin-right: 30px;
    padding: 30px 50px;
    display: inline-block;
    justify-content: center;
    box-shadow: 3px 3px 10px var(--lightText);
    cursor: pointer;
    transition: all 0.3s linear;
}
/* 
.about .cards .card:hover{
    perspective: 700;
    box-shadow: 10px 10px 15px var(--lightText);
} */

.about .cards .card .briefly{
    color:var(--lightText) !important;
    font-size: 14px;
}
.about .discription{
    line-height: 26px;
}

.projects{
    height: 100vh auto;
    padding: 30px 50px;
    color: var(--textcolor);
}

.projects .head{
    display: flex;
    justify-content: space-around;
}
.projects .view{
    display: grid;
    place-items: center;
}

.projects .cards {
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}

.projects .cards .card{
    width:400px !important;
    margin-top: 10px;
}
.projects .cards .card .title{
    padding-top: 10px;
    font-family: "Secular One";
}

.projects .cards .card .pro-img{
    padding: 40px 25px;
    background: #00000043;
}

.projects .card img{
    width: 100%;
    height: 100%;
}

.projects .more{
    position: relative;
    text-decoration: none;
}
 
.projects .more::after{
    content: "";
    display: block;
  width: 40px;
  height: 1px;
  background:var(--primary);
  left: 80px;
  top: 50%;
    position: absolute;
}

.resume{
    background: var(--terinary);
    padding: 20px 40px;
    color: var(--textcolor);
    display: grid;
    gap: 5px;
}

.resume .titled{
    letter-spacing: 2px;
}
.resume .titled::after{
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: var(--primary);
}
.resume h3.heading{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary);
}

.eduCards .card{
    width:350px;
    display: inline-block;
    padding: 15px 10px;
    margin-right: 20px;
    border: 1px solid var(--resBor);
}

.eduCards .card .year{
    color: var(--primary);
    font-family: "Secular One";
    font-size: 22px;
    font-weight: 400;
    margin: 5px 0px;
}

.eduCards .card .title{
    font-size: 18px;
}

.eduCards .card .place{
    font-size: 14px;
    font-style: italic ;
}


.achCards .card{
    min-width:350px;
    max-width: 400px;
    display: inline-block;
    padding: 15px 10px;
    margin-right: 20px;
    border: 1px solid var(--resBor);
}

.achCards .card .year{
    color: var(--primary);
    font-family: "Secular One";
    font-size: 22px;
    font-weight: 400;
    margin: 5px 0px;
}

.achCards .card .title{
    font-size: 18px;
}

.achCards .card .place{
    font-size: 14px;
    font-style: italic ;
}


.skillCards .card{
    min-width:150px;
    max-width: 200px;
    display: inline-block;
    padding: 15px 10px;
    margin-right: 20px;
    border: 1px solid var(--resBor);
    text-align: center;
}

.skillCards .card .title{
    color: var(--primary);
    text-transform: uppercase;
    font-family: "Secular One";
    letter-spacing: 2px;
}
.contact{
    /* height: 300px; */
    background: var(--secondary);
    color: var(--textcolor);
    text-align: center;
    padding: 50px 20px;
}
.contact h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font: 100 60px 'Oswald', sans-serif;
    margin-top:2px !important ;
}

.contact .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}

.contact .box{
    display: grid;
    gap:15px;
}

.contact .box input,.contact .box textarea{
    height: 40px;
    background: transparent;
    border: 1px solid var(--lightText);
    padding: 2px 10px;
    border-radius: 5px;
    outline: none;
    width: 400px;
    color: var(--lightText);
    font-family: "Secular One";
    transition: all .2s ease-in-out;
}

.contact .box textarea{
    height: 120px;
    padding: 10px 10px;
}

.contact .box input:focus,.contact .box textarea:focus{
    border: 0px;
    border: 1px solid var(--primary);
    box-shadow:0px 0px 5px var(--lightText);
}

.contact .box .ow{
    border: 0px;
    border-radius: 5px;
    color: var(--lightText);
    font: 100 16px 'Oswald', sans-serif;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
}
.contact .details{
    width:360px;
    padding-top: 20px;
}
.contact .details .detail-list{
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}
.details .detail{
    height: 40px;
    display: flex;
    gap: 20px;
    padding: 5px;
}
.details .detail img{
    height: 100%;
}

.details .detail a{
    text-decoration: none;
    color: var(--lightText);
    display: grid;
    place-items: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Secular One";
    transition: all 0.2s ease-in-out;
}

.details .detail a:hover{
    color: var(--textcolor);
}

.details hr{
    border: 1px solid var(--lightText) !important;
}


.contact .medias{
    display: flex;
    justify-content: center;
    gap:10px;
    margin: 20px 0px;
}
.contact .media{
    width:60px;
    height: 60px ;
    background: white;
    border-radius: 100%;
    padding: 1px;
    background: var(--terinary);
    display: grid;
    place-items: center;
    transition: all .2s ease-in-out;
    border: 1px solid var(--terinary);
}

.contact .media a{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 2px solid var(--terinary);
}

.contact .media a img{
    width:100% !important;
    height: 100% !important;
    border-radius: 100%;
}

.contact .media:hover{
    background: var(--textcolor);
    border: 1px solid var(--terinary);
}
.contact .copyright{
    margin-top: 20px;
    font-family: "Secular One";
}


@media (max-width:938px){
    .projects{
        padding: 40px 4px;
    }
    .projects .cards .card {
        width:320px !important;
    }
    .projects .cards .card .pro-img{
        padding: 20px 15px;
    }
    .custom-btn{
        padding: 10px 40px;
    }
    .about .container{
        gap:10px;
        .right .discription{
            width: 400px !important;
        }
    }
}
@media (max-width:780px){
    .section1{
        height: auto;
    }
    .homeSlide{
        padding: 20px;
        gap:10px;
        .profile{
            height: 300px;
        }
        .im{
            font-size: 25px;
        }
        
    }
    .homeSlide .left .discription{
            width: 300px !important;
            word-wrap: break-word;
        }
    .about{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 20px !important;
    }
    .about .container{
        gap:10px;
        .right .discription{
            width: auto !important;
        }
    }
    .about .cards .card{
        margin-top: 20px;
        width: 100px;
    }
    .about .container .left{
        display: none;
    }
    .projects{
        padding: 30px 10px;
    }
    .projects .cards .card {
        width:250px !important;
        /* min-width: 300px; */
    }
    .custom-btn{
        padding: 10px 20px;
    }
    .resume{
        padding: 30px 10px;
    }
}

@media (max-width:650px){
    .navBar div{
        display: none;
    }
    .navBar .ham{
        display: grid;
    }
}

@media (max-width:500px){
    .homeSlide {
        justify-content: start;
        .right{
            display: none;
        }
        .left .discription{
            width:100% !important;
        }
    }
    .about .cards{
        margin: 0px !important;
    }
    .about .card{
        width: 100% !important;
        margin: 0px !important;
        margin-bottom: 10px !important;
    }
    .contact{
        padding: 2px 5px !important;
        .container{
            justify-content:center;
        }
    }
    .contact .container .box input,.contact .container .box textarea{
        min-width:320px !important;
        width: 100%;
    }
    .contact .details{
        padding: 5px 10px !important;
        width:100% !important;
    }
    
}